* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    color: #0f2f2c;
}

/* NAVBAR */
.navbar {
    padding: 20px 50px;
    background: #195e57;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    position: relative;
    background: #195e57;
    color: white;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: 32px;
    font-weight: 700;
}

.hero-left p {
    margin: 15px 0;
    font-size: 14px;
    opacity: 0.9;
}

.btn-start {
    display: inline-block;
    background: white;
    color: #195e57;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 15px;
    text-decoration: none;
}

/* HERO IMAGE */
.hero-right img {
    width: 350px;
    position: relative;
    z-index: 2;
}

/* CURVED SHAPE */
.curve {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 120%;
    height: 200px;
    background: white;
    border-bottom-left-radius: 200px;
}

/* ABOUT SECTION */
.about {
    padding: 60px 50px;
    text-align: center;
}

.about h2 {
    color: #195e57;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.about p {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.7;
}

/* FOOTER */
footer {
    background: #195e57;
    color: white;
    padding: 50px 50px 30px;
    margin-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer-col h3 {
    font-size: 20px;
}

.footer-col h4 {
    margin-bottom: 15px;
}

.search {
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    border: none;
}

.footer-bottom {
    text-align: center;
    opacity: 0.8;
    margin-top: 30px;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left {
        max-width: 100%;
    }

    .hero-right img {
        margin-top: 30px;
        width: 250px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
